*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
}

.App{
  display: flex;
  flex-direction: row-reverse;
}

.usersForm{
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usersList{
  width: 55%;
  height: 100vh;
  background-color: rgb(185, 212, 164);
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-y: scroll;
}

.list-content{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-buttons{
  margin-left: auto;
  margin-right: 1rem;
}
.list-buttons>button{
  padding: 5px;
  border: none;
  background: none;
}

.birthday{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-card{
  width: 80%;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
}